@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

$font : 'Inter', sans-serif;
$whiteColor: #FFFFFF;
$weight700: 700;
$weight500: 500;

body {
    background-color: #253038;
}

.App {
    padding: 0;
    margin: 0;
    header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap: 35px;
        align-items: center;
        padding-left: 20px;
        h4 {
            color: #1098FC;
            font-size: 24px;
            font-weight: 700;
            font-family: $font;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 1100px;
            .nav_link {
                display: flex;
                flex-direction: row;
                gap: 35px;
                align-items: center;
                a {
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font;
                    text-decoration: none;
                }
            }
            .nav_btn {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
                .login {
                    background-color: transparent;
                    border: none;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: #FFFFFF;
                }
                .getStarted {
                    background-color: transparent;
                    border: 1px solid $whiteColor;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: $whiteColor;
                    text-align: center;
                    width: 185px;
                    padding: 8px 48px 8px 48px;
                    border-radius: 47px;
                }
            }
        }
    }
    .sub-header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        margin-top: 50px;
        .first-div {
            display: flex;
            flex-direction: column;
            padding-top: 70px;
            h1 {
                font-size: 47px;
                font-weight: $weight700;
                font-family: $font;
                color: #FFFFFF;
                width: 474px;
            }
            p {
                color: $whiteColor;
                font-size: 19px;
                font-family: $font;
                font-weight: $weight500;
                width: 308px;
            }
            button {
                background-color: #1098FC;
                height: 48px;
                text-align: center;
                color: #FFFFFF;
                font-weight: $weight500;
                font-size: 15px;
                font-family: $font;
                text-align: center;
                border: none;
                width: 223px;
                padding: 8px 48px 8px 48px;
                border-radius: 47px;
            }
        }
    }
}