@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.App {
  padding: 0;
  margin: 0;
}
.App section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #24272A;
}
.App section header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
}
.App section header .first-header-div {
  width: 10vw;
}
.App section header .first-header-div p {
  color: #1098FC;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.App section header .first-header-div img {
  display: none;
}
.App section header .single-entity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40vw;
}
.App section header .single-entity .first-header-div {
  display: none;
}
.App section header .single-entity .second-header-div {
  display: flex;
  flex-direction: row;
  width: 25vw;
  justify-content: space-around;
}
.App section header .single-entity .second-header-div a {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.App section header .single-entity .third-header-div {
  display: flex;
  flex-direction: row;
  gap: 45px;
  padding-right: 30px;
}
.App section header .single-entity .third-header-div button:nth-child(1) {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}
.App section header .single-entity .third-header-div button:nth-child(2) {
  border: 1px solid #FFFFFF;
  width: 13vw;
  border-radius: 47px;
  background-color: transparent;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}
.App section .card-section {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10vw;
}
.App section .card-section .card-section-1 {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}
.App section .card-section .card-section-1 h4 {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 47px;
  width: 30vw;
  margin-bottom: 1vw;
}
.App section .card-section .card-section-1 p {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 19px;
}
.App section .card-section .card-section-1 button {
  background-color: #1098FC;
  text-align: center;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  border-radius: 47px;
  width: 13vw;
  border: none;
  padding: 15px;
}
.App section .card-section .card-section-2 img {
  height: 501px;
}
.App .section2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #253038;
  align-items: center;
  padding-top: 7vw;
  padding-bottom: 8vw;
}
.App .section2 .div1 {
  display: flex;
  width: 75vw;
  border-radius: 25px;
  background-color: #2D3A44;
  padding: 15px;
}
.App .section2 .div1 p {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}
.App .section2 .div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  gap: 7vw;
  margin-top: 4vw;
}
.App .section2 .div2 .whole-div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.App .section2 .div2 .lin-div2 {
  display: flex;
}
.App .section2 .div2 .lin-div2 img {
  width: 33px;
  height: 749px;
}
.App .section2 .div2 .text-div {
  display: flex;
  flex-direction: column;
  margin-top: -3vw;
}
.App .section2 .div2 .text-div2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.App .section2 .div2 .text-div2 h3 {
  color: #FFFFFF;
  font-size: 33px;
  font-family: "Inter", sans-serif;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: -1vw;
}
.App .section2 .div2 .text-div2 p {
  color: rgba(255, 255, 255, 0.3607843137);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  width: 27vw;
  font-weight: 400;
}
.App .section2 .img-div2 {
  display: flex;
  align-items: center;
}
.App .section2 .img-div2 img {
  width: 578px;
}
.App .section3 {
  display: flex;
  flex-direction: column;
  background-color: #24272A;
  padding-top: 8vw;
  max-width: 100%;
  padding-bottom: 7vw;
}
.App .section3 .case-head {
  display: flex;
  padding-left: 11vw;
}
.App .section3 .case-head h2 {
  font-size: 47px;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
}
.App .section3 .useCase-div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}
.App .section3 .useCase-div .cName {
  display: flex;
  flex-direction: column;
}
.App .section3 .useCase-div .cName img {
  width: 17vw;
}
.App .section3 .useCase-div .cName div {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4588235294);
  border-right: 1px solid rgba(255, 255, 255, 0.4588235294);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4588235294);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px;
  height: 8vw;
  width: 15.5vw;
  align-items: center;
}
.App .section3 .useCase-div .cName div span {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-left: 4px;
}
.App footer {
  display: flex;
  flex-direction: column;
  background-color: #2D3A44;
  max-width: 100%;
  padding-top: 6vw;
  padding-bottom: 4vw;
  gap: 6vw;
}
.App footer .footer-div-1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}
.App footer .footer-div-1 .idWeb p {
  color: #1098FC;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}
.App footer .footer-div-1 .sub-div {
  display: flex;
  flex-direction: column;
}
.App footer .footer-div-1 .sub-div h5 {
  color: #F2F2F2;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 1vw;
}
.App footer .footer-div-1 .sub-div a {
  color: rgba(242, 242, 242, 0.5019607843);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-decoration: none;
  margin-bottom: 14px;
}
.App footer .footer-div-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
}
.App footer .footer-div-2 p {
  color: #F2F2F2;
  font-size: 16px;
  font-weight: 300;
}
.App footer .footer-div-2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.App footer .footer-div-2 div img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 640px) {
  .App {
    padding: 0;
    margin: 0;
  }
  .App section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .App section header {
    display: grid;
    grid-template-columns: auto;
    max-width: 100%;
  }
  .App section header .first-header-div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 65px;
  }
  .App section header .first-header-div p {
    color: #1098FC;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .App section header .first-header-div img {
    display: flex;
    width: 50px;
    height: 50px;
  }
  .App section header .single-entity {
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    z-index: 1;
    gap: 15vw;
    height: 552px;
    background-color: #2D3A44;
    margin-top: -38vw;
    margin-bottom: -350px;
  }
  .App section header .single-entity .first-header-div {
    display: flex;
    margin-bottom: 100px;
    padding-top: 45px;
  }
  .App section header .single-entity .first-header-div img {
    width: 30px;
    height: 30px;
  }
  .App section header .single-entity .second-header-div {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
    gap: 15px;
  }
  .App section header .single-entity .second-header-div a {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
  }
  .App section header .single-entity .third-header-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    padding-left: 6vw;
    margin-top: 80px;
  }
  .App section header .single-entity .third-header-div button:nth-child(1) {
    align-self: center;
    border: none;
    background-color: #1098FC;
    width: 85vw;
    border-radius: 47px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 8px 40px 8px 40px;
  }
  .App section header .single-entity .third-header-div button:nth-child(2) {
    border: 1px solid #FFFFFF;
    width: 85vw;
    border-radius: 47px;
    background-color: transparent;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
  }
  .App section .card-section {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin-top: 3vw;
  }
  .App section .card-section .card-section-1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-left: 8vw;
    align-items: left;
  }
  .App section .card-section .card-section-1 h4 {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin-bottom: 1vw;
    width: 250px;
  }
  .App section .card-section .card-section-1 p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 400;
  }
  .App section .card-section .card-section-1 button {
    background-color: #1098FC;
    text-align: center;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border-radius: 47px;
    width: 180px;
    border: none;
    padding: 15px;
  }
  .App section .card-section .card-section-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .App section .card-section .card-section-2 img {
    height: 200px;
  }
  .App .section2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #253038;
    align-items: center;
    padding-top: 7vw;
    padding-bottom: 8vw;
  }
  .App .section2 .div1 {
    display: flex;
    width: 75vw;
    border-radius: 25px;
    background-color: #2D3A44;
    padding: 15px;
  }
  .App .section2 .div1 p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
  }
  .App .section2 .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 4vw;
  }
  .App .section2 .div2 .whole-div {
    display: flex;
    flex-direction: row;
    order: 2;
    gap: 15px;
  }
  .App .section2 .div2 .lin-div2 {
    display: flex;
  }
  .App .section2 .div2 .lin-div2 img {
    width: 33px;
    height: 949px;
  }
  .App .section2 .div2 .text-div {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }
  .App .section2 .div2 .text-div2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .App .section2 .div2 .text-div2 h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: -25px;
  }
  .App .section2 .div2 .text-div2 p {
    color: rgba(255, 255, 255, 0.3607843137);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 25px;
    width: 259px;
    font-weight: 400;
  }
  .App .section2 .img-div2 {
    display: flex;
    align-items: center;
    order: 1;
  }
  .App .section2 .img-div2 img {
    width: 250px;
  }
  .App .section3 {
    display: flex;
    flex-direction: column;
    background-color: #24272A;
    max-width: 100%;
    padding-bottom: 7vw;
  }
  .App .section3 .case-head {
    display: flex;
  }
  .App .section3 .case-head h2 {
    font-size: 47px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
  }
  .App .section3 .useCase-div {
    display: flex;
    flex-direction: row;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow-x: auto;
    gap: 42vw;
    max-width: 100%;
    padding-left: 80vw;
  }
  .App .section3 .useCase-div .cName {
    display: flex;
    padding-left: 15vw;
    flex-direction: column;
    max-width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  .App .section3 .useCase-div .cName img {
    width: 58.5vw;
  }
  .App .section3 .useCase-div .cName div {
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.4588235294);
    border-right: 1px solid rgba(255, 255, 255, 0.4588235294);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4588235294);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    height: 16vw;
    width: 53.5vw;
    align-items: center;
  }
  .App .section3 .useCase-div .cName div span {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-left: 4px;
  }
  .App footer {
    display: flex;
    flex-direction: column;
    background-color: #2D3A44;
    max-width: 100%;
    padding-top: 6vw;
    padding-bottom: 10vw;
    padding-left: 4vw;
    gap: 6vw;
  }
  .App footer .footer-div-1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .App footer .footer-div-1 .idWeb {
    display: flex;
    align-items: flex-start;
  }
  .App footer .footer-div-1 .idWeb p {
    color: #1098FC;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  .App footer .footer-div-1 .sub-div {
    display: flex;
    flex-direction: column;
  }
  .App footer .footer-div-1 .sub-div h5 {
    color: #F2F2F2;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 1vw;
  }
  .App footer .footer-div-1 .sub-div a {
    color: rgba(242, 242, 242, 0.5058823529);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-decoration: none;
    margin-bottom: 14px;
  }
  .App footer .footer-div-2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-around;
  }
  .App footer .footer-div-2 p {
    color: #F2F2F2;
    font-size: 16px;
    font-weight: 300;
  }
  .App footer .footer-div-2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .App footer .footer-div-2 div img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .App {
    padding: 0;
    margin: 0;
  }
  .App section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .App section header {
    display: grid;
    grid-template-columns: auto;
    max-width: 100%;
  }
  .App section header .first-header-div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 65px;
  }
  .App section header .first-header-div p {
    color: #1098FC;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .App section header .first-header-div img {
    display: flex;
    width: 50px;
    height: 50px;
  }
  .App section header .single-entity {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
    z-index: 1;
    margin-top: -15vw;
    padding-bottom: 15px;
    background-color: #2D3A44;
  }
  .App section header .single-entity .first-header-div {
    display: flex;
  }
  .App section header .single-entity .second-header-div {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
    gap: 15px;
  }
  .App section header .single-entity .second-header-div a {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
  }
  .App section header .single-entity .third-header-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    padding-left: 6vw;
  }
  .App section header .single-entity .third-header-div button:nth-child(1) {
    align-self: center;
    border: none;
    background-color: #1098FC;
    width: 85vw;
    border-radius: 47px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 8px 40px 8px 40px;
  }
  .App section header .single-entity .third-header-div button:nth-child(2) {
    border: 1px solid #FFFFFF;
    width: 85vw;
    border-radius: 47px;
    background-color: transparent;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
  }
  .App section .card-section {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin-top: 3vw;
  }
  .App section .card-section .card-section-1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-left: 8vw;
    align-items: left;
  }
  .App section .card-section .card-section-1 h4 {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin-bottom: 1vw;
    width: 250px;
  }
  .App section .card-section .card-section-1 p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 400;
  }
  .App section .card-section .card-section-1 button {
    background-color: #1098FC;
    text-align: center;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border-radius: 47px;
    width: 180px;
    border: none;
    padding: 15px;
  }
  .App section .card-section .card-section-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .App section .card-section .card-section-2 img {
    height: 200px;
  }
  .App .section2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #253038;
    align-items: center;
    padding-top: 7vw;
    padding-bottom: 8vw;
  }
  .App .section2 .div1 {
    display: flex;
    width: 75vw;
    border-radius: 25px;
    background-color: #2D3A44;
    padding: 15px;
  }
  .App .section2 .div1 p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
  }
  .App .section2 .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 4vw;
  }
  .App .section2 .div2 .whole-div {
    display: flex;
    flex-direction: row;
    order: 2;
    gap: 15px;
  }
  .App .section2 .div2 .lin-div2 {
    display: flex;
  }
  .App .section2 .div2 .lin-div2 img {
    width: 33px;
    height: 949px;
  }
  .App .section2 .div2 .text-div {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }
  .App .section2 .div2 .text-div2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .App .section2 .div2 .text-div2 h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: -25px;
  }
  .App .section2 .div2 .text-div2 p {
    color: rgba(255, 255, 255, 0.3607843137);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 25px;
    width: 259px;
    font-weight: 400;
  }
  .App .section2 .img-div2 {
    display: flex;
    align-items: center;
    order: 1;
  }
  .App .section2 .img-div2 img {
    width: 250px;
  }
  .App .section3 {
    display: flex;
    flex-direction: column;
    background-color: #24272A;
    max-width: 100%;
    padding-bottom: 7vw;
  }
  .App .section3 .case-head {
    display: flex;
  }
  .App .section3 .case-head h2 {
    font-size: 47px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
  }
  .App .section3 .useCase-div {
    display: flex;
    flex-direction: row;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow-x: auto;
    gap: 42vw;
    max-width: 100%;
    padding-left: 80vw;
  }
  .App .section3 .useCase-div .cName {
    display: flex;
    padding-left: 15vw;
    flex-direction: column;
    max-width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  .App .section3 .useCase-div .cName img {
    width: 58.5vw;
  }
  .App .section3 .useCase-div .cName div {
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.4588235294);
    border-right: 1px solid rgba(255, 255, 255, 0.4588235294);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4588235294);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    height: 16vw;
    width: 53.5vw;
    align-items: center;
  }
  .App .section3 .useCase-div .cName div span {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-left: 4px;
  }
  .App footer {
    display: flex;
    flex-direction: column;
    background-color: #2D3A44;
    max-width: 100%;
    padding-top: 6vw;
    padding-bottom: 10vw;
    padding-left: 4vw;
    gap: 6vw;
  }
  .App footer .footer-div-1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .App footer .footer-div-1 .idWeb {
    display: flex;
    align-items: flex-start;
  }
  .App footer .footer-div-1 .idWeb p {
    color: #1098FC;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  .App footer .footer-div-1 .sub-div {
    display: flex;
    flex-direction: column;
  }
  .App footer .footer-div-1 .sub-div h5 {
    color: #F2F2F2;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 1vw;
  }
  .App footer .footer-div-1 .sub-div a {
    color: rgba(242, 242, 242, 0.5058823529);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-decoration: none;
    margin-bottom: 14px;
  }
  .App footer .footer-div-2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-around;
  }
  .App footer .footer-div-2 p {
    color: #F2F2F2;
    font-size: 16px;
    font-weight: 300;
  }
  .App footer .footer-div-2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .App footer .footer-div-2 div img {
    width: 24px;
    height: 24px;
  }
}/*# sourceMappingURL=App.css.map */