@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$font : 'Inter', sans-serif;

.App {
    padding: 0;
    margin: 0;
    section {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background-color: #24272A;
        header {
            display: grid;
            grid-template-columns: 10vw 25vw auto;
            max-width: 100%;
            align-items: center;
            .first-header-div {
                width: 10vw;
                p {
                    color: #1098FC;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    font-family: 'Inter', sans-serif;
                }
            }
            .second-header-div {
                display: flex;
                flex-direction: row;
                width: 25vw;
                justify-content: space-around;
                a {
                color: #FFFFFF;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
            }
            }
            .third-header-div {
                display: flex;
                flex-direction: row;
                gap: 45px;
                justify-self: end;
                padding-right: 30px;
                button:nth-child(1) {
                    border: none;
                    background-color: transparent;
                    font-size: 16px;
                    color: #FFFFFF;
                    font-family: $font;
                }
                button:nth-child(2) {
                    border: 1px solid #FFFFFF;
                    width: 13vw;
                    border-radius: 47px;
                    background-color: transparent;
                    text-align: center;
                    padding: 12px;
                    font-size: 16px;
                    color: #FFFFFF;
                    font-family: $font; 
                }                
            }
        }
        .card-section {
            display: flex;
            max-width: 100%;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10vw;
            .card-section-1 {
                display: flex;
                flex-direction: column;
                padding-top: 75px;
                h4{
                    color: #FFFFFF;
                    font-family: $font;
                    font-size: 47px;
                    width: 30vw;
                    margin-bottom: 1vw;
                }
                p {
                    color: #FFFFFF;
                    font-family: $font;
                    font-size: 19px; 
                }
                button {
                    background-color: #1098FC;
                    text-align: center;
                    color: #FFFFFF;
                    font-family: $font;
                    font-size: 15px;
                    border-radius: 47px;
                    width: 13vw;
                    border: none;
                    padding: 15px;
                }
            }
            .card-section-2 {
                img {
                    height: 501px;
                }
            }
        }
    }
    .section2 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #253038;
        align-items: center;
        padding-top: 7vw;
        .div1 {
            display: flex;
            width: 75vw;
            border-radius: 25px;
            background-color: #2D3A44;
            padding: 15px;
            p {
                color: #FFFFFF;
                font-family: $font;
                font-size: 16px;
                font-weight: 400;
                line-height: 36px;
            }
        }
        .div2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 100%;
            justify-content: space-between;
            gap: 13vw;
            margin-top: 4vw;
            div {
                display: flex;
                flex-direction: column;
                h4 {
                    color: #FFFFFF;
                    font-size: 47px;
                    font-family: $font;
                    width: 32vw;
                    line-height: 64px;
                    margin-bottom: 1vw;
                }
                p {
                    color: #FFFFFF;
                    font-size: 16px;
                    font-family: $font;
                    line-height: 36px;
                    width: 27vw;
                    font-weight: 400;
                }
            }
            img {
                height: 297px;
            }
        }
        .div3 {
            @extend .div2;
            div {
                order: 2;
            }
            img {
                order: 1;
            }
        }
    }
}