@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$font : 'Inter', sans-serif;
$whiteColor: #FFFFFF;
$weight700: 700;
$weight500: 500;

body {
    background-color: #253038;
}

.App {
    padding: 0;
    margin: 0;
    header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap: 35px;
        align-items: center;
        padding-left: 20px;
        h4 {
            color: #1098FC;
            font-size: 24px;
            font-weight: 700;
            font-family: $font;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 1100px;
            .nav_link {
                display: flex;
                flex-direction: row;
                gap: 35px;
                align-items: center;
                a {
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font;
                    text-decoration: none;
                }
            }
            .nav_btn {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
                .login {
                    background-color: transparent;
                    border: none;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: #FFFFFF;
                }
                .getStarted {
                    background-color: transparent;
                    border: 1px solid $whiteColor;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: $whiteColor;
                    text-align: center;
                    width: 185px;
                    padding: 8px 48px 8px 48px;
                    border-radius: 47px;
                }
            }
        }
    }
    .sub-header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        margin-top: 50px;
        .first-div {
            display: flex;
            flex-direction: column;
            padding-top: 70px;
            h1 {
                font-size: 47px;
                font-weight: $weight700;
                font-family: $font;
                color: #FFFFFF;
                width: 474px;
            }
            p {
                color: $whiteColor;
                font-size: 19px;
                font-family: $font;
                font-weight: $weight500;
                width: 308px;
            }
            button {
                background-color: #1098FC;
                height: 48px;
                text-align: center;
                color: #FFFFFF;
                font-weight: $weight500;
                font-size: 15px;
                font-family: $font;
                text-align: center;
                border: none;
                width: 223px;
                padding: 8px 48px 8px 48px;
                border-radius: 47px;
            }
        }
    }
    .working-section {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #24272A;
        padding-top: 65px;
        .working-details {
            display: flex;
            flex-direction: column;
            width: 1033px;
            background-color: #2D3A44;
            border-radius: 25px;
            padding: 27px 36px 27px 36px;
            h4 {
                color: $whiteColor;
                font-weight: $weight700;
                font-family: $font;
                font-size: 47px;
                margin-bottom: 10px;
            }
            p {
                color: #F2F2F2;
                font-weight: 400;
                font-family: $font;
                font-size: 16px;
                width: 938px;
                line-height: 24px;
            }
        }
    .working-steps {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-top: 40px;
        gap: 40px;
        .list-of-steps {
            width: 33px;
            height: 749px;
        }
        .stages {
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            .steps {
                display: flex;
                flex-direction: column;
                h4 {
                    font-weight: $weight700;
                    font-size: 33px;
                    font-weight: $font;
                    color: $whiteColor;
                    width: 259px;
                    margin-bottom: 8px;
                }
                p {
                    width: 259px;
                    color: $whiteColor;
                    font-weight: 400;
                    font-family: $font;
                    font-size: 16px;
                }
            }
        }
        .nft-card {
            img{
                width: 578px;
                height: 501px;
            }
        }
    }
    }
    .useCase-section {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        h3 {
            font-weight: $weight700;
            color: $whiteColor;
            font-size: 47px;
            font-family: $font;
            margin-left: 120px;
        }
        .first-case {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 35px;
            .case {
                width: 315px;
                height: 380px;
                display: flex;
                flex-direction: column;
                border: 1px solid $whiteColor;
                border-radius: 15px;
                gap: 10px;
                .bg-nav {
                    background-image: url(./images/FrameCoinB.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 315px;
                    height: 259px;
                }
                span {
                    font-weight: $weight700;
                    font-size: 23px;
                    font-family: $font;
                    color: $whiteColor;
                    width: 271px;
                    margin-left: 15px;
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        background-color: #2D3A44;
        justify-content: center;
        gap: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        .footer-div-1 {
            display: flex;
            flex-direction: row;
           justify-content: space-around;
            h3 {
                font-weight: $weight700;
                color: #1098FC;
                font-family: $font;
                font-size: 24px;
            }
            nav {
                display: flex;
                flex-direction: row;
                gap: 75px;
                .foot-links {
                    display: flex;
                    flex-direction: column;
                    h5 {
                        color: $whiteColor;
                        font-family: $font;
                        font-size: 16px;
                        font-weight: $weight700;
                    }
                    a {
                        color: #F2F2F2;
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: none;
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .footer-div-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 295px;
            span {
                color: #F2F2F2;
                font-family: $font;
                font-size: 16px;
                font-weight: 400;
            }
            nav {
                display: flex;
                flex-direction: row;
                gap: 10px;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}